
$mediaListPcFirst:xl,lg,md,sm;
$mediaListMobileFirst:sm,md,lg,xl;

$rwd: (
    xl: (
      breakpoints:1440px,
      container:1280px,
      spacing:48px,
      fontSize:20px,
      ),
    lg: (
      breakpoints:960px,
      container:960px,
      spacing:24px,
      fontSize:20px,
      ),
    md: (
      breakpoints:768px,
      container:768px,
      spacing:16px,
      fontSize:20px,
      ),
    sm: (
      breakpoints:480px,
      container:480px,
      spacing:8px,
      fontSize:16px,
      ),
);

$cPrimary:#d6251f;
$cSecondary:#fffc00;
$cTxt:#ffffff;

$headerH:80px;

$kvBgC:#F0F0F0;

$advanArrowC:#757575;

$resumeTableLight:#f5f5f5;
$resumeTableDark:#e0e0e0;
$resumeTableBorder:#626262;

$formLabelGutter:10px;

$reformcardbg:#97120e;
