$c_main:#4F4D53;
$c_sub:#E8BE02;

$ratio: 1440/505;

$h1_fz:100px;
$h1_fw:900;

$h2_fz:64px;
$h2_fw:900;

$h3_fz:20px;
$h3_fw:900;

$h4_fz:14px;
$h4_fw:400;

$p_fz:20px;
$p_fw:400;

$header_height:48px; 
$footer_height:320px;
$footer_border_top:12px;


