@mixin fontZWC($z,$w,$c) {
  font-size: $z;
  font-weight: $w;
  color: $c;
}

// nth-of-type
@mixin nth($nth) {
  @if $nth == 1 {
    &:first-of-type { @content; }
  } @else if $nth == -1 {
    &:last-of-type { @content; }
  } @else {
    &:nth-of-type(#{$nth}) { @content; }
  }
}

// rwd
@mixin rwd($setpoint) {
  @if $mediaFirst == mobile {
    @media screen and (min-width: rwdGetMap($setpoint,breakpoints) ) {
      @content;
    }
  } @else {
    @media screen and (max-width: rwdGetMap($setpoint,breakpoints) ) {
      @content;
    }
  }
};



