
$columns: 12;
$gutter: 20px;

.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: $gutter / 2;
  padding-right: $gutter / 2;

  display: flex;
  flex-wrap: wrap;

  @media screen and (min-width: rwdGetMap(sm,breakpoints)) {
    max-width: rwdGetMap(sm,container);
  }
  @media screen and (min-width: rwdGetMap(md,breakpoints)) {
    max-width: rwdGetMap(md,container);
  }
  @media screen and (min-width: rwdGetMap(lg,breakpoints)) {
    max-width: rwdGetMap(lg,container);
  }
  @media screen and (min-width: rwdGetMap(xl,breakpoints)) {
    max-width: rwdGetMap(xl,container);
  }
}

// columns

@mixin col($col) {
  flex-basis: calc( #{100% / $columns * $col} - #{$gutter} );
  margin-left: $gutter / 2;
  margin-right: $gutter / 2;
}

@for $col from 1 through $columns {
  .col-#{$col} {
    @include col($col);
  }
}

@media screen and (min-width: rwdGetMap(sm,breakpoints)) {
  @for $col from 1 through $columns {
    .#{sm}\:col-#{$col} {
      flex-basis: calc( #{100% / $columns * $col} - #{$gutter} );
    }
  }
}

@media screen and (min-width: rwdGetMap(md,breakpoints)) {
  @for $col from 1 through $columns {
    .#{md}\:col-#{$col} {
      flex-basis: calc( #{100% / $columns * $col} - #{$gutter} );
    }
  }
}

@media screen and (min-width: rwdGetMap(lg,breakpoints)) {
  @for $col from 1 through $columns {
    .#{lg}\:col-#{$col} {
      flex-basis: calc( #{100% / $columns * $col} - #{$gutter} );
    }
  }
}

@media screen and (min-width: rwdGetMap(xl,breakpoints)) {
  @for $col from 1 through $columns {
    .#{xl}\:col-#{$col} {
      width: calc( #{100% / $columns * $col} - #{$gutter} );
    }
  }
}

