@mixin checkicon{
  .checkicon{
    height: 24px;
    width: 24px;
    background-color: #fff;
    border: 1px solid #a0a0a0;
    border-radius: 5px;
    flex-shrink: 0;
    &::before{
      content: "✓";
      color: #000;
      display: none;
      font-size: 20px;
      font-weight: 900;
      line-height: 22px;
    }
    @include rwd(md){
      margin-left: 50px;
    }
  }
}

@mixin radiobtn{
  input[type="radio"]{
    display: none;
    &:checked + .checkicon::before{
      display: inline-block;
    }
  }
}

@mixin customCheckIcon{
  @include checkicon();
  @include radiobtn()
}