select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;       /* Remove default arrow */
  background-image: url('../assets/5_form/arrow_drop_down-24px\ \(1\).svg');   /* Add custom arrow */
  background-repeat: no-repeat;
  background-position: 100% 50%;
  background-size: 35px;
}