header {
  background-color: $header_bg_color;
  > .container {
    min-height: $header_height;
  };
}

footer {
  box-sizing: content-box;
  min-height: $footer_height;
  background-color: $footer_bg_color;
  border-top: $footer_border_top solid $footer_border_color;
  overflow: auto;
}