
header {
  background-color: $cPrimary;
  height: $headerH;
  @include rwd (sm) {
    height: auto;
  }
  .col-12{
    > img {
      max-width: 70%;
      height: 80px;
      object-fit: contain;
      vertical-align: bottom;
      @include rwd(sm){
        margin: 20px 0;
        height:auto;
        object-fit: unset;
      }
    }
  }
  p {
    padding: 0px 10px 20px 10px;
    color: $cTxt;
    font-size: .9em;
    font-weight: 500;
    line-height: 1;
    &:hover{
      color: $cSecondary;
      box-shadow: inset 0px -5px 0px $cSecondary;
    }
    @include rwd(md){
      padding: 31px 20px;
    }
  }
  span {
    content: "";
    margin-bottom: 19px;
    width: 2px;
    height: 16px;
    background-color: $cTxt;
    @include rwd(md){
      @include mb(0)
    }
  }
  .menu {
    @include mt(25px);
    height: 30px;
    border: 2px solid $cTxt;
    padding: 2px;
    border-radius: 5px;
    background-color: rgba($cTxt,0.3);
  }
}