.advantage {
  background-image: 
    linear-gradient(to top ,#ffffffdd 0%, #ffffffdd 100%),
    url("../assets/3_advantage/advantage_bg-l.jpg"),;
  background-repeat: no-repeat;
  background-size:cover;

  @include rwd(lg) {
    background-image: 
    url("../assets/3_advantage/advantage_bg-l.jpg"),
    url("../assets/3_advantage/advantage_bg-r.jpg"),
    linear-gradient(to top ,#ffffffdd 0%, #ffffffdd 100%);
    background-size: contain;
    background-position: 0 0,100% 0;
  }

  .container {
    padding-top: 60px;
    padding-bottom: 40px;
    max-width: 850px;
  }

  h6{
    margin-bottom: 10px;
    color: $cPrimary;
    font-weight: 500;
    @include txtOL(1px);
    &::before{
      content: "▶︎▶︎";
      margin-right: 3px;
      color: $advanArrowC;
      font-size: 0.9rem;
      position: relative;
      bottom: 1px;
    }
  }
  p{
    max-width: 450px;
    font-weight: 300;
    letter-spacing: 0.5px;
    @include txtOL(1px);
    @include rwd(md){
      max-width: none;
    }
  }
  img {
    max-width: 90%;
  }

  .title {
    >img {
      margin-bottom: 40px;
    }
  }

  .icon {
    margin-bottom: 10px;
    @include rwd (md) {
      margin-bottom: 0;
      margin-right: 50px;
    }
  }

  .content {
    margin-bottom: 20px;
  }

}