.form{
  position: relative;
  z-index: 3;
  background-color: #e0e0e0;
  background-image: 
  linear-gradient(to top,#e0e0e0aa 0%,#e0e0e0aa 100%),
  url('../assets/5_form/form_health_bg-l.png');
  background-size: cover;
  background-repeat: no-repeat;


  @include rwd(xl){
    background-image: 
    url('../assets/5_form/form_health_bg-l.png'),
    url('../assets/5_form/form_health_bg-r.png')
    ;
    background-size: contain;
    background-position: 0 0,100% 0;
    overflow: hidden;
  }
  .container{
    padding: 70px 0;
    max-width: 966px;
  }

  .title{
    max-width: 90%;
    margin-bottom: 20px;
  }
  .card{
    background-color: #fff;
    padding: 20px 10px;
    border-radius: 10px;
    position: relative;
    
    @include rwd(md){
      padding: 40px 108px;
    }

    .people{
      height: 220px;
      width: 50%;
      position: absolute;
      right: 0;
      bottom: -70px;
      object-fit: cover;
      object-position: center top;

      @include rwd(md){
        width: 40%;
        height: 300px;
      }
      
      @include rwd(xl){
        width: 368px;
        height: 758px;;
        right: -368px;
        object-position: right top;
      }
    }
  }

  h6 {
    width: 3em;
    font-size: 0.8em;
    font-weight: 500;
    letter-spacing: 0.8px;
    margin-left: 16px;
    margin-right: 8px;
    @include rwd(md){
      width: auto;
      white-space:nowrap;
      margin-left: 8px;
    }
  }

  h5 {
    font-size: 1em;
    font-weight: 500;
    margin-bottom: $formLabelGutter;
  }

  p{
    font-size: 0.8em;
    font-weight: 500;
    letter-spacing: 0.8px;
    white-space:nowrap;
    margin-left: 16px;
    margin-right: 8px;
    @include rwd(md){
      white-space: nowrap;
    }
  }
  span {
    font-size: 0.8em;
    font-weight: 500;
    letter-spacing: 0.8px;
    white-space:nowrap;
    margin-right: 8px;
  }
  label{
    margin: $formLabelGutter 0;
    height: 40px;
    border: 1px solid #a0a0a0;
    border-radius: 5px;

    input{
      width: 100%;
      height: 90%;
      border: 0;
      outline: none;
    }

    @include rwd(md){
      height: 65px;
    }
  }

  form{
    > div.d-f{
      >label{
        width: 100%;
      }
      @include rwd(md){
        >label{
          width: calc( 50% - #{$formLabelGutter } );
        }
      }
    }
  }

  .stat{
    @include rwd(md){
      margin-top:$formLabelGutter*2;
      margin-bottom:$formLabelGutter;
    }
  }

  .which{
    width: 100%;
    label{
      border: 0;
      margin: 0;
      padding: 10px;
      @include nthType(1){
          margin-top: $formLabelGutter / 2;
          margin-bottom: $formLabelGutter;
          @include rwd(md){
            margin-top: 0;
            margin-bottom: 0;
          }
      }

      label {
        border: 1px solid #a0a0a0;
        width: 100%;
        span {
          margin-left: 10px;
        }
      }
      
      @include rwd(md){
        flex-basis: 50%;
        padding: 0;
      }
    }
    @include customCheckIcon();

  }
  select{
    margin-right: 5px;
    padding-left: 10px;
    font-weight: 500;
    width: 100%;
    height: 90%;
    border-radius: 5px;
    // border: 1px solid #a0a0a0;
    border: 0;
  }
  
  button{
    margin-bottom: 20px;
    color: $cTxt;
    padding: 19px 0;
    width: 100%;
    background-color: $cPrimary;
    border: 0;
    border-radius: 5px;
    font-size: 1.2em;
    letter-spacing: 1.2px;
    outline: none;
    @include rwd(md){
      margin-top: 10px;
      margin-bottom: 40px;
      max-width: 288px;
    }
    &:hover{
      background-color: rgb(230,0,0);
      box-shadow: 0px 3px 15px -2px rgba(230,0,0,0.9);
    }
    &:active{
      color: $cSecondary;
    }
  }

  ul{
    width: 50%;
    li{
      font-size: 0.8em;
      position: relative;
      left: 1em;
      &::before{
        content: "※";
        position: absolute;
        left:-1em;
      }
    }
    @include rwd(lg){
      width: 100%;
      li {
        line-height: 1.88;
      }
    }
  }
}