
$columns: 12;
$gutter: 20px;

.container {
  max-width: rwdGetMap(xl, container);
  margin-left: auto;
  margin-right: auto;
  padding-left: $gutter / 2;
  padding-right: $gutter / 2;

  display: flex;
  flex-wrap: wrap;

  @media screen and (max-width: rwdGetMap(xl,breakpoints)) {
    max-width: rwdGetMap(lg, container);
  }
  @media screen and (max-width: rwdGetMap(lg,breakpoints)) {
    max-width: rwdGetMap(md, container);
  }
  @media screen and (max-width: rwdGetMap(md,breakpoints)) {
    max-width: rwdGetMap(sm, container);
  }
  @media screen and (max-width: rwdGetMap(sm,breakpoints)) {
    max-width: 100%;
  }
}

// columns

@mixin col($col) {
  flex-basis: calc( #{100% / $columns * $col} - #{$gutter} );
  margin-left: $gutter / 2;
  margin-right: $gutter / 2;
  float: left;
}

@for $col from 1 through $columns {
  .col-#{$col} {
    @include col($col);
  }
}

@each $key, $value in $RWD {
  @media screen and (max-width: rwdGetMap($key,breakpoints)) {
    @for $col from 1 through $columns {
      .#{$key}\:col-#{$col} {
        flex-basis: calc( #{100% / $columns * $col} - #{$gutter} );
      }
    }
  }
}