@import "./ContentComponent.scss";

.container-component {
  position: relative;
  overflow: hidden;
  
  height: 100%;
  width: 100%;

  &-next{
    &-enter{
      left: 100% !important;
    }
    &-leave-to{
      left: -100% !important;
    }
    &-enter-active,&-leave-active{
      transition: left .5s
    }
  }

  &-prev{
    &-enter{
      left: -100% !important;
    }
    &-leave-to{
      left: 100% !important;
    }
    &-enter-active,&-leave-active{
      transition: left .5s
    }
  }
  
}
